@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;           /* Black */
    --foreground: 210 40% 98%;

    --card: 0 0% 5%;
    --card-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 212 26% 83%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 0%;           /* Change this to black! */
    --foreground: 210 40% 98%;
  }

  html {
    font-family: Inter, sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}
